<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página principal</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div>Hotel Continental</div>
        
        <img th:src="@{/images/Hotel Continental.png}" height="50px">
        
        <br/>
        <a href="/reservar">
            <button type="button">Reservar</button>
        </a><br/>
        
    </body>
</html>
